node_modules
client/dist/bundle.js
client/dist/bundle-server.js
config
database/mongodb
database/_mongodb
newrelic_agent.log
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
